<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gz.sw.mapper.write.RainRunDao">
    <select id="selectCount" resultType="java.lang.Integer">
        select
        	count(r.id)
        from rainrun r
        left join station s on r.stcd = s.stcd
        left join sttype t on s.type = t.code
        where 1=1
        <if test="sttp != null and sttp != ''" >
            and t.code = #{sttp}
        </if>
        <if test="stcd != null and stcd != ''" >
            and s.stcd = #{stcd}
        </if>
        <if test="name != null and name != ''" >
            and r.name like '%' + #{name} + '%'
        </if>
    </select>
    <select id="selectList" resultType="java.util.Map">
        select r1.id, r1.name, r1.lname, r1.lid, CONVERT(varchar(100), r1.create_time, 20) as createTime, s.stname, t.name as sttype
        from rainrun r1
        left join station s on r1.stcd = s.stcd
        left join sttype t on s.type = t.code,
        (select TOP ${page*limit} row_number() OVER (order by r.id desc, r.ID desc) n, r.ID
        from rainrun r
        left join station s on r.stcd = s.stcd
        left join sttype t on s.type = t.code
        where 1=1
        <if test="sttp != null and sttp != ''" >
            and t.code = #{sttp}
        </if>
        <if test="stcd != null and stcd != ''" >
            and s.stcd = #{stcd}
        </if>
        <if test="name != null and name != ''" >
            and r.name like '%' + #{name} + '%'
        </if>
        ) r2
        where 1=1
        and r1.id = r2.id
        and r2.n > ${(page-1)*limit}
        order by r2.n asc
    </select>
    <select id="selectListByStcd" resultType="java.util.Map">
        select
        	class as id, name, stcd
        from rainrun
        where stcd = #{stcd}
        group by class, name, stcd
        order by class desc
    </select>
    <select id="selectRainRunPoint" resultType="java.util.Map">
        select
        	r.PA, rp.D, rp.R
        from rainrun_point rp
        left join rainrun r on rp.lid = r.lid
        where r.class = #{rainRun}
        order by r.pa, rp.pino asc
    </select>
    <select id="selectPointList" resultType="java.util.Map">
        select
        	id, pino, d, r
        from rainrun_point
        where lid = #{lid}
        order by pino asc
    </select>
    <select id="select" resultType="gz.sw.entity.write.RainRun">
        select m.* from model m
        where m.id = #{id}
    </select>
    <insert id="insert" parameterType="gz.sw.entity.write.RainRun" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        insert into model(name, stcd, create_time) values(#{name}, #{stcd}, #{createTime})
    </insert>
    <update id="update" parameterType="gz.sw.entity.write.RainRun">
        update model
        <set>
            <if test="name != null" > name = #{name},</if>
            <if test="stcd != null" > stcd = #{stcd},</if>
        </set>
        where id = #{id}
    </update>
    <delete id="delete" parameterType="java.lang.Integer">
        delete from model where id = #{id}
    </delete>
</mapper>