<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gz.sw.mapper.read2.Read2Dao" >
    <select id="selectInit" resultType="java.util.Map">
        select
          avg(Wu) as wu,
          avg(Wd) as wl,
          avg(Wl) as wd
        from ST_Pa_W0
        where stcd in
        <foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
            #{stcd}
        </foreach>
        and #{affectTime} = tm
    </select>

    <select id="selectGridStation" resultType="java.util.Map">
        select id as value, address as title
        from F_RNFL_GRID
        order by id asc
    </select>

    <select id="selectGridPoint" resultType="java.util.Map">
        select ymdh, rn/10 as rn
        from F_RNFL_M
        where id in
        <foreach collection="list" item="stid" index="index" open="(" close=")" separator=",">
            #{stid}
        </foreach>
        and fymdh = #{fymdh}
        and unitname = #{unit}
        and ymdh > #{startDay}
        and #{endDay} >= ymdh
        order by ymdh asc
    </select>
</mapper>