<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gz.sw.mapper.read.RainfallDao" >
	<resultMap id="BaseResultMap" type="gz.sw.entity.read.Rainfall" >
		<id column="stcd" property="stcd" jdbcType="VARCHAR" />
        <result column="date" property="date"/>
        <result column="rainfall" property="rainfall"/>
	</resultMap>

	<select id="selectRainfallTotal" resultMap="BaseResultMap">
		select top 10 stcd, sum(drp) as rainfall from st_pptn_r
		where tm > #{startDay} and #{endDay} >= tm
        and stcd in
		<foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
			#{stcd}
		</foreach>
		group by stcd
        order by sum(drp) desc
    </select>

    <select id="selectRainfallDaily" resultMap="BaseResultMap">
        select tm as date, sum(drp) as rainfall from st_pptn_r
        where tm > #{startDay} and #{endDay} >= tm
        and stcd in
        <foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
            #{stcd}
        </foreach>
        group by tm
    </select>

    <select id="selectRainfallRange" resultMap="BaseResultMap">
        select tm as date, avg(drp) as rainfall from st_pptn_r
        where tm > #{affectTime} and #{forecastTime} >= tm
        and stcd in
        <foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
            #{stcd}
        </foreach>
        group by tm
        order by tm asc
    </select>

    <select id="selectNearStationRainfall" resultType="java.util.Map">
        select
          stcd as stcd,
          drp as p
        from st_pptn_r s
        where s.tm = #{date}
        and s.stcd in
        <foreach collection="list" item="stcd" index="index" open="(" close=")" separator=",">
            #{stcd}
        </foreach>
    </select>
</mapper>