<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gz.sw.mapper.read.StbprpDao" >
    <select id="selectList" resultType="gz.sw.entity.read.Stbprp">
        select *
        from ST_STBPRP_B
    </select>
</mapper>